<div class="form-container">

  <h2>Job Application for Heroes</h2>

  <p class="description">
    Dynamic Form menggunakan data pertanyaan
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    @for (question of questions; track question.key) {

      <div class="form-group">

        <label [for]="question.key">
          {{ question.label }}
        </label>

        @switch (question.controlType) {

          @case ('textbox') {

            <input
              [id]="question.key"
              [type]="question.type"
              [formControlName]="question.key"
              [placeholder]="'Masukkan ' + question.label"
            />

          }

          @case ('dropdown') {

            <select
              [id]="question.key"
              [formControlName]="question.key"
            >
              <option value="">
                Pilih {{ question.label }}
              </option>

              @for (option of question.options; track option) {
                <option [value]="option">
                  {{ option }}
                </option>
              }

            </select>

          }

        }

        @if (
          form.get(question.key)?.touched &&
          form.get(question.key)?.invalid
        ) {
          <div class="error">
            {{ question.label }} wajib diisi.
          </div>
        }

      </div>

    }

    <button
      type="submit"
      [disabled]="form.invalid"
    >
      Save
    </button>

  </form>

  @if (submitted) {
    <div class="success">
      Form berhasil disimpan!
    </div>
  }

</div>